{% extends 'base.html.twig' %}

{% block title %}Edit PubLikeTracks{% endblock %}

{% block body %}
    <h1>Edit PubLikeTracks</h1>

    {{ include('pub_like_tracks/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('pub_like_tracks_index') }}">back to list</a>

    {{ include('pub_like_tracks/_delete_form.html.twig') }}
{% endblock %}
