{% extends 'Front.html.twig' %}
{% block title %}Invitation index{% endblock %}

{% block Evenement %}
    <h1>Invitation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>User</th>
                <th>event</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for invitation in invitations %}
            <tr>
                <td>{{ invitation.idUser.username }}</td>
                <td>{{ invitation.idEv.titreEv}}</td>
                <td>
                    <a href="{{ path('invitation_delete', {'id': invitation.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('invitation_new') }}">Create new</a>
{% endblock %}
