{% extends 'Front.html.twig' %}
{% block title %}New Invitation {% endblock %}
{% block Evenement %}
    <h1>Create new Invitation</h1>

    {{ include('invitation/_form.html.twig') }}

    <a href="{{ path('invitation_index') }}"><i class="fa fa-backward">Revenir à la liste</i></a>
{% endblock %}
