{% extends 'backend/taches.html.twig' %}
{% block param %}
    <div id="dynamicbull">
        {{ include('tache/_form.html.twig') }}
        <a href="{{ path('tache_index') }}">Revenir a la liste</a>
    </div>
{% endblock %}
