{% extends 'baseback.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock  %}
{% block b %}
    <div class="box-header">

        <center>  <h2 class="box-title" style="font-size: 40px;color:#1d5987;">Welcome to SpiriTy!</h2></center>
    </div>
    <div >
        <img src="{{ asset("img/logo.png")}}" alt="Image" style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 39%;">
    </div>
{% endblock %}