<form method="post" action="{{ path('photo_publication_delete', {'id_ph': photo_publication.id_ph}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ photo_publication.id_ph) }}">
    <button class="btn">Delete</button>
</form>
