{% extends 'backend2/page.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}

{% block param %}
    <div class="box box-info">
        <div class="box-header">
            <h1>Ajouter une Photo</h1>
            {{ include('photo_publication/_form.html.twig') }}
            <a href="{{ path('photos_publication',{'id_pub':id_pub}) }}">Return</a>
        </div>
    </div>
{% endblock %}