{% extends 'baseAdmin.html.twig' %}

{% block title %}New Simple{% endblock %}

{% block param %}
    <h1>Create new Simple</h1>

    {{ include('simple/_form.html.twig') }}

    <a href="{{ path('simple_index') }}">back to list</a>
{% endblock %}
