{% extends 'basefront.html.twig' %}

{% block title %}New nutritionist{% endblock %}

{% block param %}
    <h1>Create new nutri</h1>
        {{ include('nutrifront/_form.html.twig') }}

    <a href="{{ path('nutrifront_index') }}">back to list</a>

    {% endblock %}
