{% extends 'basefront.html.twig' %}

{% block title %}nutritionist{% endblock %}

{% block param %}
    <h1>nutritionist</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Username</th>
                <td>{{ Nutri.username }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ Nutri.mail }}</td>
            </tr>
            <tr>
                <th>Date of birth</th>
                <td>{{ Nutri.dateN ? Nutri.dateN|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('nutrifront_index') }}">back to list</a>

{% endblock %}
