{% extends 'baseAdmin.html.twig' %}

{% block title %}New Psycho{% endblock %}

{% block param %}
    <h1>Create new Psycho</h1>

    {{ include('Psycho/_form.html.twig') }}

    <a href="{{ path('Psycho_index') }}">back to list</a>
{% endblock %}
