{% extends 'baseAdmin.html.twig' %}

{% block title %}New Psy{% endblock %}

{% block body %}
    <h1>Create new Psy</h1>

    {{ include('psy/_form.html.twig') }}

    <a href="{{ path('psy_index') }}">back to list</a>
{% endblock %}
