{% extends 'basefront.html.twig' %}



{% block param %}


<div class="row">
        {% for simple in simples %}

            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <a class="team-img" href="{{ path('simplefront_show', {'id_user': simple.idUser}) }}">
                        <img src="{{ asset('/front/img/user.png') }}" alt="Image">
                        <div class="team-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href=""><i class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                            <a href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </a>
                    <div class="team-text">
                        <h2>{{simple.username}} </h2>
                        <p> {{ simple.mail }}</p>
                    </div>
                </div>
            </div>



        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}


</div>

{% endblock %}
