#dynamicbull{
    display: table;
    width: 400px;
    margin: 0 auto;
    padding-top: 20px;
}

table{
    margin-top: 30px;
}

td > a{
    margin-right: 20px;
}

.btn{
    display: table;
    margin: 0 auto;
}