{% extends 'backend2/page.html.twig' %}
{% block param %}
    <table class="table text-center" id="myT">
        <thead>
        <tr>
            <th>Username</th>
            <th>Mail</th>
            <th>Date of birth</th>
        </tr>
        </thead>
        <tbody>
        {% for simple in simples %}
            <tr>
                <td>{{ simple.username }}</td>
                <td>{{ simple.mail }}</td>
                <td>{{ simple.dateN ? simple.dateN|date('Y-m-d') : '' }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        <script>
            function sortTable() {
                var table, rows, switching, i, x, y, shouldSwitch,dir;
                table = document.getElementById("myT");
                switching = true;
                // Set the sorting direction to ascending:


                while (switching) {

                    switching = false;
                    rows = table.rows;

                    for (i = 1; i < (rows.length - 1); i++) {

                        shouldSwitch = false;

                        x = rows[i].getElementsByTagName("TD")[2];
                        y = rows[i + 1].getElementsByTagName("TD")[2];



                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {

                            shouldSwitch = true;
                            break;
                        } }

                    if (shouldSwitch) {

                        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                        switching = true;
                    }


                }
            }
        </script>


        </tbody>
    </table>
    <script type="text/javascript">
        function imprimer_page(){
            window.print();
        }
    </script>
    <div role="toolbar" aria-label="Programmatic control">
        <div class="btn-group btn-group-sm" aria-label="Set Select2 option">
            <form style="width: 100vw">
                <div style="width: 70%;display: inline-block">
                    <input id="impression" style="margin-left: 10px" class="btn btn-success" name="impression" type="button" onclick="imprimer_page()" value="Print this page" />
                </div>
                <button onclick="sortTable()" class="btn btn-primary mt30 btn-black" style="display: inline-block"> Sort by Date</button>
            </form>
{% endblock %}