{% extends 'basebackPub.html.twig' %}

{% block title %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Spirity | Categories</title>
{% endblock %}

{% block b %}

    <div class="box box-info" style="align-items: center; padding-left: 400px ">
        <div class="box-header">
            <h1>Create new Commentaire</h1>

            {{ include('commentaire/_form.html.twig') }}

        </div>
    </div>
{% endblock %}