{% extends 'backend2/page.html.twig' %}
{% block param %}
    <div class="container">
        <h1>Statistiques</h1>
        <canvas id="activites" width="400" height="100"></canvas>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script>
        let activites = document.querySelector("#activites")
        let categGraph = new Chart(activites, {
            type: "pie",
            data: {
                labels: {{ categTy |raw}},
                datasets: [{
                    label: "Répartition des catégories",
                    data: {{ categCount1| raw }},
                    backgroundColor:{{ categC| raw}},
                }]
            }
        })
    </script>

{% endblock %}