<form method="post" action="{{ path('nutrifront_delete', {'id': nutri.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ nutri.id) }}">
    <button class="btn custom-btn">delete</button>
</form>
