{% extends 'basefront.html.twig' %}

{% block title %}
    <title>Reclamation</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
{% endblock %}
{% block contact %}
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <h1 class="bg-light py-4 text-info"> Contacter-Nous </h1>
        </div>
    </div>
</div>
    {% for message in app.flashes('info') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
    {% endfor %}
    {{ form(contactForm) }}

{% endblock %}
