<form method="post" action="{{ path('suivi_delete', {'idS': suivi.idS}) }}" onsubmit="return confirm('vous etes sur de vouloir supprimer cette objet?');" style="width: 50px">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ suivi.idS) }}">
    <button class="btn">Delete</button>
</form>
