{% extends 'backend2/page.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset("backend/chedli/acceuil.css")}}">
    <link rel="stylesheet" href="{{asset("backend/chedli/crud.css")}}">
{% endblock %}

{% block param %}
    <div id="dynamicbull">
        {{ include('suivi/_form.html.twig', {'button_label': 'Mise a jour'}) }}
        <a class="retour" href="{{ path('suivi_index') }}">Revenir</a>
    </div>
{% endblock %}


