
{% block param %}
    {{ include('suivi/_form.html.twig') }}
    <a id="enregistrer" href="{{ path('suivi_index', {'id': 2}) }}">Revenir a la liste</a>
{% endblock %}

{% block javascripts %}
    <script>
        $("#enregistrer").click(function(e){
            e.preventDefault();
            axios.get("https://127.0.0.1:8000/suivi/index/1").then(response => {
                $("#dynamicbull").load("https://127.0.0.1:8000/suivi/index/2",function(){
                    suivis : response.data.message
                });
                console.log("value is "+response.data.message);
            })
            // $("#dynamicbull").load(link);
        });
    </script>
{% endblock %}
